body{
  background-color: #F5F5DC;
}


#navbar{
  border: 1px solid #000000;
  height: 100%;
  padding-top: 20px;
  background-color: #D3D3D3;
}

#navbar a{
  text-decoration: none;
  text-decoration-color: #000000;
}

.first{
  height: 95%;
}

.second{
  border-right: 1px solid #D3D3D3;
  height: 100%;
}

#convo{
  overflow: :auto;
  height: 250px;
  padding-left: 15px;
}
