

<div data-ng-controller="chatBoxCtrl" data-ng-init="updateFilter(); autojoinRoom();getInq();" >
    <!-- {{chatID}} -->

    <!-- <div class="row">
        <div class="col-md-8">
            <md-toolbar>
            <div class="md-toolbar-tools">
              <span>My App's Title</span>
              <span flex></span>
            </div>
          </md-toolbar>
          <md-content>
            Hello!
          </md-content>
        </div>

    </div> -->

    <div class="col-md-8 conversation">
        <div id="convo" data-ng-model="convo">
            <div data-ng-repeat="msg in messages |filter: filterR track by $index">

                <div ng-show="msg.messageUser!='admin'">
                    <div class="bubble you">
                        {{msg.messageText}}
                    </div>
                </div>

                <div ng-show="msg.messageUser=='admin'">
                    <div class="bubble me">
                        {{msg.messageText}}
                    </div>
                </div>
            </div>
        </div>

        <div id="sMsg">
            <form ng-submit="sendMessage2()">

                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input data-ng-click="updateRead()" type="text" data-ng-model="inputMessage"/>
                    <a href="javascript:;" class="write-link smiley"></a>
                    <a href="javascript:;" class="write-link send"></a>

                </div>

            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="info">
            <div class="custInfos">
                <p style="font-size:20px; font-weight:600;">Customer Sdn Bhd</p>
                <p> &#9743; 012-345 6789 / 082-123 456 <br>
                &#9993; Customer@customer.com <br>
                NO123 LOT321 LORONG YOUR HOUSE
                </p>
            </div>

            <h3 style="border-bottom: 1px solid #e6e6e6;"> Bearings </h3>
            <!-- ng-repeat inquiries -->
            <div class="inqInfos" >

                <div class="inqInfo" data-ng-repeat="b in currentInq.bearings track by $index">
                    <img src="https://pbs.twimg.com/profile_images/378800000790881573/b88c26b17a46d0b1ada90dec7af86963_normal.jpeg" alt="bearing picture"/>
                    <p><br><strong>Serial number : {{b.serialNo}}</strong> <br>
                    Height : {{b.height}} mm <br>
                    Diameter (I) : {{b.diameterI}} mm <br>
                    Diameter (O) : {{b.diameterO}} mm <br>
                    Extra comments : {{b.extraComment}}
                    </p>
                </div>
            </div>

            <!-- Quotation -->

            <div class="quotation" data-ng-repeat="inq in allInq|customFilter:chatID track by $index">

                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal{{$index}}" > Send Quotation </button>

                <div id="myModal{{$index}}" class="modal fade" role="dialog">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Quotation</h4>
                            </div>

                            <div class="modal-body" >
                                <!-- <ul style="list-style:none"
                                    <li data-ng-repeat="x in inq.bearings track by $index">
                                        <input type="checkbox" data-ng-model="bearing" ng-change="updateSelected('{{x.serialNo}}')"> {{x.serialNo}}

                                    </li>
                                </ul> -->

                                <!-- Selected -->
                                <table class="table" align="center">
                                    <tr>
                                        <th>
                                            #
                                        </th>

                                        <th>
                                            Serial Number
                                        </th>

                                        <th>
                                            Quantity
                                        </th>

                                        <th>
                                            Price/ unit
                                        </th>

                                        <th>
                                            Total
                                        </th>

                                        <th>

                                        </th>
                                    </tr>

                                    <tr ng-repeat="s in inq.bearings track by $index">
                                        <td>
                                            {{$index+1}}
                                        </td>

                                        <td>
                                            <!-- {{s.serialNo}} -->
                                            <!-- <input type="text" class="form-control no-border" data-ng-model="bearing[$index]" value="{{s.serialNo}}"/> -->

                                            <input type="text" class="form-control no-border input-sm" data-ng-init="bearing[$index]='{{s.serialNo}}'" data-ng-model="bearing[$index]" value="{{s.serialNo}}" data-ng-change="updateBearings($index,bearing[$index])"/>

                                            <!-- <input type="text" class="form-control no-border input-sm" id="bearing[]" value="{{s.serialNo}}"/> -->


                                            <!-- {{s.serialNo}} -->
                                        </td>

                                        <td>
                                            <input type="number" style="width:5vw" class="input-sm form-control no-border" data-ng-model="quantity[$index]" size="1" data-ng-init="quantity[$index]=0" />
                                        </td>

                                        <td>
                                            <input type="number"  style="width:5vw" class="input-sm form-control no-border" data-ng-model="ppu[$index]" data-ng-init="ppu[$index] = 0" size="1" ng-change="getTotal();"/>
                                        </td>

                                        <td>
                                            <span data-ng-model="total[$index]">
                                                {{quantity[$index]*ppu[$index] | currency:'RM '}}
                                            </span>
                                        </td>

                                        <td data-ng-model="gTotal">
                                            <a style="text-decoration:none" class="glyphicon glyphicon-remove" data-ng-click="removeRow($index);" aria-hidden="true"></a>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>

                                        <td>
                                            {{gTotal|currency:"RM "}}
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                </table>

                                <div class="row" >
                                    <div class="col-md-9">
                                        <button type="button" class="btn btn-md" data-ng-click="addRow()">Add Row</button>
                                    </div>

                                    <div class="col-md-3" >
                                        <button type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-ng-click="sendQuote()">Send</button>
                                    </div>

                                </div>



                                <!-- <ul>
                                    <li ng-repeat="s in selected">
                                        {{s}}
                                    </li>

                                </ul> -->


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>

                </div>



                <ul>
                    <li> Quotation 1 </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>
