    <div data-ng-controller="chatBoxCtrl" data-ng-init="updateFilter(); autojoinRoom()" >



        <div class="col-md-9">
                <div id="convo" data-ng-model="convo">
                    <div data-ng-repeat="msg in messages |filter: filterR track by $index">

                        <div ng-show="msg.messageUser!='admin'">
                            <div class="bubble you">
                                {{msg.messageText}}
                            </div>
                        </div>

                        <div ng-show="msg.messageUser=='admin'">
                            <div class="bubble me">
                                {{msg.messageText}}
                            </div>
                        </div>

                    </div>

                </div>
                <div id="sMsg">
                    <form ng-submit="sendMessage2()">

                        <div class="write">
                            <!-- <input type="text" data-ng-model="inputMessage" class="form-control" /> -->
                            <a href="javascript:;" class="write-link attach"></a>
                            <input data-ng-click="updateRead()" type="text" data-ng-model="inputMessage"/>
                            <a href="javascript:;" class="write-link smiley"></a>
                            <a href="javascript:;" class="write-link send"></a>

                        </div>


                        <!-- <button type="button" data-ng-click="sendMessage2()" class="btn btn-primary btn-md">Send</button> -->
                    </form>
                </div>
        </div>

        <div class="col-md-3">
          <div class="info">
              <div class="custInfos">
                <p style="font-size:18px; font-weight:600;">Customer Sdn Bhd</p>
                <p> &#9743; 012-345 6789 / 082-123 456 <br>
                    &#9993; Customer@customer.com </p>
              </div>

              <h3 style="border-bottom: 1px solid #e6e6e6;"> Inquiries </h3>
              <!-- ng-repeat inquiries -->
              <div class="inqInfos">
                <div class="inqInfo">
                    <p><strong>Bearing Code : ABC12345D</strong> <br>
                        Height : 400mm <br>
                        Diameter (I) : 400mm <br>
                        Diameter (O) : 400mm <br>
                        Quantity : 5
                    </p>
                </div>

                <div class="inqInfo">
                    <p><strong>Bearing Code : ABC12345D</strong> <br>
                        Height : 400mm <br>
                        Diameter (I) : 400mm <br>
                        Diameter (O) : 400mm <br>
                        Quantity : 5
                    </p>
                </div>

                <div class="inqInfo">
                    <p><strong>Bearing Code : ABC12345D</strong> <br>
                        Height : 400mm <br>
                        Diameter (I) : 400mm <br>
                        Diameter (O) : 400mm <br>
                        Quantity : 5
                    </p>
                </div>
              </div>

              <!-- Quotation module -->
              <div class="quotation">
                <button type="button" class="btn btn-primary btn-block"> Send Quotation </button>
                <ul>
                  <li> Quotation 1 </li>
                </ul>
              </div>

          </div>
        </div>
    </div>
