<!-- <html lang="en" data-ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/socket.io/socket.io.js"></script>

    </head>
    <body> -->
        <div data-ng-controller="chatCtrl" class="container" >
            <div id="con">
                <div class="row" id="box">
                    <div class="col-md-2 col-lg-2" id="navbar">
                        <ul class="nav nav-list">
                            <li ui-sref-active="active"><a data-ui-sref="home.admin"> Admin </a></li>

                            <li ui-sref-active="active"> <a data-ui-sref="home.inbox"> Inbox </a></li>

                              <li ui-sref-active="active">  <a data-ui-sref="home.inbox.Read" style="font-size:15px; padding-left: 30px; font-weight:500;"> Read </a> </li>

                              <li ui-sref-active="active">  <a data-ui-sref="home.inbox.Unread" style="font-size:15px; padding-left: 30px; font-weight:500;"> Unread </a> </li>

                              <li ui-sref-active="active">  <a data-ui-sref="home.inbox.Paid" style="font-size:15px; padding-left: 30px; font-weight:500;"> Paid </a> </li>

                            <li ui-sref-active="active"> <a data-ui-sref="home.history"> History </a> </li>
                            <li> <a href="/">Home</a> </li>
                            <li><a data-ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>

                    <div class="col-md-10 col-lg-10">
                        <div ui-view></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/angular.js"></script>
        <script src="/js/angular-ui-router.js"></script>
        <script src="/js/controller.js"></script>
    </body>
</html> -->
